<h1>Add your new link here! :)</h1>

<form action="/links" method='post'>
	Title: <input type="text" name='title'><br>
	Url:<input type="text" name='url'><br>
	Tags: <input type="text" name="tags"><br>
	<input type="submit" value='Submit'>
</form>